/* tipo */
@font-face {
  font-family: crash-a-like;
  src: url(assets/fonts/crash-a-like.ttf);
}

/* reset */

body {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
}

.hmenu {
  font-family: "crash-a-like", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #FFE400;
  font-size: 26px;
}

.hmenu:hover {
  font-family: "crash-a-like", Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 0.5rem 0;
  color: #d67c05;
  border-bottom: 5px solid #d67c05;
}

.vmenu {
  font-family: "crash-a-like", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #FFE400;
  font-size: 26px;
}

.vmenu:hover {
  font-family: "crash-a-like", Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 0 0.5rem ;
  color: #d67c05;
  border-right: 5px solid #d67c05;
}

.fmenu {
  font-family: "crash-a-like", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #FFE400;
  font-size: 20px;
}

.fmenu:hover {
  font-family: "crash-a-like", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #d67c05;
}

/* header */
.header {
  background-color: #034589;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
}

.logo {
  width: 10rem;
}

.menu > li {
  font-size: 20px;
  display: inline;
  list-style: none;
  padding: 0 1rem;
}

.lookingfor{
  padding: 6px;
  border: none;
  font-size: 1rem;
}

/* main */
.main {
  display: flex;
}

.sidebar {
  width: 15%;
  padding: 1rem;
  background-color: #06346A;
}

.sidemenu li {
  font-size: 20px;
  list-style: none;
  text-align: end;
  padding: 0.5rem 0;
}

.main-content {
  width: 85%;
  padding: 1rem;
  background-color: #0081CC;
}

/* footer */
.footer {
  background-color: #034589;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.footer-menu > li {
  display: inline;
  list-style: none;
  padding: 0.5rem;
}

.copyright {
  padding-left: 2rem;
  color: white;
  font-size: 12px;
}

.div-social {
  display: inline;
  padding: 0.5rem;
}

.div-social img {
  height: 1.5rem;
  padding: 0.5rem;
}