/* tipo */
@font-face {
  font-family: clash-a-like;
  src: url(assets\crash-a-like.ttf);
}

/* reset */

body {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
}

a {
  font-family: "crash-a-like", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #FFE400;
}

a:hover {
  font-family: "crash-a-like", Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #d67c05;
}

/* header */
.header {
  background-color: #034589;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 15rem;
}

.menu > li {
  font-size: 20px;
  display: inline;
  list-style: none;
  padding: 0 1rem;
}


/* main */
.main {
  display: flex;
}

.sidebar {
  width: 15%;
  padding: 1rem;
  background-color: #06346A;
}

.sidemenu li {
  font-size: 20px;
  list-style: none;
  text-align: end;
  padding: 0.5rem 0;
}

.main-content {
  width: 85%;
  padding: 1rem;
  background-color: #0081CC;
}

/* footer */
.footer {
  background-color: lime;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.footer-menu > li {
  display: inline;
  list-style: none;
  padding: 0.5rem
}

.copyright {
  padding-left: 2rem;
}

.div-social {
  display: inline;
  padding: 0.5rem
}

.div-social img {
  height: 2rem;
  padding: 0.5rem;
}